@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Sen:wght@400;700&display=swap");

:root {
  --dark-color: #013243;
  --green-color: #32f5c8;
  --gray-color: #a9bdc6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 92%;
}

body {
  background-color: var(--dark-color);
  font-family: "Inter", sans-serif;
  margin: 2rem 10rem;
}

a {
  text-decoration: none;
}

h1 {
  color: var(--green-color);
  font-family: "Sen", sans-serif;
  font-size: 9.2rem;
  margin: 3rem 0.3rem 2rem;
  line-height: 9rem;
  letter-spacing: 0.1rem;
}

.letter-overlap {
  position: relative;
  z-index: 2;
}

p {
  color: var(--gray-color);
  font-size: 1.5rem;
  line-height: 2.2rem;
  width: 40%;
  min-width: 500px;
}

.notify-btn {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--dark-color);
  cursor: pointer;
  width: 240px;
  height: 60px;
  background-color: var(--green-color);
  border-radius: 5px;
  border: none;
  margin-top: 2rem;
}

.notify-btn:hover {
  transform: scale(0.98);
  transition: 0.3s;
}

.twitter-container {
  display: flex;
  align-items: center;
  margin-top: 4rem;
}

.twitter-container img {
  margin-right: 1rem;
}

.twitter-container:hover {
  color: #00acee;
  transition: 0.3s;
}

.avatar-group {
}
.avatar-1 {
  transform: scale(0.9);
  position: absolute;
  top: 5.2rem;
  left: 3.7rem;
  z-index: -1;
}

.avatar-2 {
  transform: scale(0.62);
  position: absolute;
  top: 19.2rem;
  left: 44.5rem;
  z-index: 1;
}

.avatar-3 {
  transform: scale(0.8);
  position: absolute;
  top: 4.2rem;
  left: 58rem;
  z-index: -1;
}

.avatar-4 {
  transform: scale(0.8);
  position: absolute;
  top: 31rem;
  left: 61.5rem;
  z-index: -1;
}

.avatar-5 {
  transform: scale(0.78);
  position: absolute;
  top: 1.8rem;
  left: 67rem;
  z-index: -1;
}

.avatar-6 {
  transform: scale(0.8);
  position: absolute;
  top: 19.5rem;
  left: 72rem;
  z-index: -1;
}
